/* Coolors Exported Palette - coolors.co/65922b-74ba2a-d27b82-f9ebc9-385d3e */
/* HSL */
/* RGB */
/* line 17, ../compass/sass/styles.scss */
body {
  background-color: #FFF;
  color: #65922B;
  text-align: center;
  margin: 0px;
  position: relative;
}

/*font-family: 'Unkempt', cursive;  (extra front style)*/
/* line 27, ../compass/sass/styles.scss */
.jumbotron {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), black), url("../img/cartoon.jpg");
  margin-bottom: 20px;
  margin-top: 50px;
  background-position: 0% 25%;
  background-size: cover;
  height: 500px;
  background-repeat: no-repeat;
  color: white;
  text-shadow: #385D3E 0.3em 0.3em 0.3em;
}

/* line 39, ../compass/sass/styles.scss */
.jumbotron p {
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 200;
}

/* line 45, ../compass/sass/styles.scss */
.site-wrapper {
  text-align: center;
  font-family: 'Henny Penny', cursive;
}

/* line 55, ../compass/sass/styles.scss */
section .row {
  margin: 0px 0px 15px 0px;
}

/* line 59, ../compass/sass/styles.scss */
section#delights {
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}

/* line 67, ../compass/sass/styles.scss */
a {
  color: #65922B;
}

/* line 71, ../compass/sass/styles.scss */
a:hover {
  color: #d27b82;
  text-decoration: none;
}

/* line 76, ../compass/sass/styles.scss */
h1, h2, h3 {
  font-family: 'Henny Penny', cursive;
  color: #65922B;
}

/* line 82, ../compass/sass/styles.scss */
.lead h1 {
  font-size: 125px;
  margin-top: 60px;
  margin-bottom: 5px;
}

/* line 88, ../compass/sass/styles.scss */
.lead {
  text-align: center;
}

/* line 92, ../compass/sass/styles.scss */
.slidePics {
  max-height: 700px;
  margin: 10px 25px 10px 25px;
  text-align: -webkit-center;
}

/* line 98, ../compass/sass/styles.scss */
p {
  font-family: 'Shadows Into Light Two', cursive;
}

/* line 102, ../compass/sass/styles.scss */
img.sample {
  margin: 12px;
  width: 90%;
  /*border: #65922B solid 2px;*/
}

/* line 110, ../compass/sass/styles.scss */
.profile img.profileImg {
  max-height: 425px;
}

/* line 115, ../compass/sass/styles.scss */
footer {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* line 125, ../compass/sass/styles.scss */
h3.price, h2.price {
  margin: 5px;
}

/* line 131, ../compass/sass/styles.scss */
.login, .register {
  background-color: white;
  width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 5%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

/* line 140, ../compass/sass/styles.scss */
.loginheading {
  text-align: center;
  margin-bottom: 30px;
}

/* line 144, ../compass/sass/styles.scss */
.loginbottomtext {
  text-align: center;
  margin-top: 20px;
}

/* line 148, ../compass/sass/styles.scss */
.pagecontainer {
  margin-top: 30px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-left: 20px;
  margin-right: 20px;
}

/* line 156, ../compass/sass/styles.scss */
.pageheader {
  width: 100%;
  height: 60px;
  background-color: #ff6800;
  margin: 0;
  padding: 0;
}

/* line 163, ../compass/sass/styles.scss */
.menubutton {
  color: white;
  background-color: #ff6800;
  border: 0px solid transparent;
  font-size: 20pt;
  margin-top: 10px;
}

/* line 170, ../compass/sass/styles.scss */
.pagetitle {
  color: white;
  margin: 10px;
}

/* line 174, ../compass/sass/styles.scss */
.contentheight {
  height: 300px;
}

/* line 183, ../compass/sass/styles.scss */
.affix {
  right: 0px;
}

/* line 187, ../compass/sass/styles.scss */
.affix-top {
  right: 0px;
  position: fixed;
}

/* line 192, ../compass/sass/styles.scss */
.scroll-debug {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
