<!-- ///////////Section top butters lead/////////// -->
<section class="split">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 split-text centered">
                <h2>Butters</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio.</p>
                <p><a class="btn btn-success">Loren Ipsum</a></p>
            </div>

            <div class="col-lg-3 split-img centered">
                <img src="../img/jarsBW.jpg">
            </div>
        </div>
    </div>
</section>
<!-- ///////////End butters lead /////////// -->
<!-- ///////////Section divider1/////////// -->
<section class="section-divider divider1">
    <div class="container-fluid">
        <h1>Lorem ipsum dolor sit amet</h1>
        <hr>
        <p>Apply a background image in css...Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, atque.</p>
    </div>
</section>
<!-- ///////////End section divider1////////// -->

<!-- ///////////Section top butters/////////// -->
<section class="split">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-3 split-img centered">
                <img src="../img/harvestJar.jpg">
            </div>
            <div class="col-lg-6 split-text centered">
                <h2>Lorem ipsum dolor sit.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio.</p>
                <p><a class="btn btn-success">Loren Ipsum</a></p>
            </div>
        </div>
    </div>
</section>
<!-- ///////////End butters/////////// -->


<!-- ///////////Section modal-grid/////////// -->
<section style="background-color: rgba(101,146,43, 0.5)">
<div class="container" >
  <div class="row">
    <h2>Bootstrap 3 Lightbox using Modal</h2>
    <div class="row">
      <div class="col-lg-3 col-sm-4 col-6">
      	<div class="thumbnail">
      	<div class="caption">
      	<h4>Item Name</h4>
      	<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
      	<p><a href="" class="label label-danger" rel="tooltip" title="Zoom">Zoom</a>
        <a href="" class="label label-default" rel="tooltip" title="Download now">Download</a></p>
      	</div>
      	<img src="../img/freshness.jpg">
      	</div>
      </div>

      <div class="col-lg-3 col-sm-4 col-6">
      	<div class="thumbnail">
      	<div class="caption">
      	<h4>Item Name</h4>
      	<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
      	<p><a href="" class="label label-danger" rel="tooltip" title="Zoom">Zoom</a>
        <a href="" class="label label-default" rel="tooltip" title="Download now">Download</a></p>
      	</div>
      	<img src="../img/freshness.jpg">
      	</div>
      </div>

      <div class="col-lg-3 col-sm-4 col-6">
      	<div class="thumbnail">
      	<div class="caption">
      	<h4>Item Name</h4>
      	<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
      	<p><a href="" class="label label-danger" rel="tooltip" title="Zoom">Zoom</a>
        <a href="" class="label label-default" rel="tooltip" title="Download now">Download</a></p>
      	</div>
      	<img src="../img/freshness.jpg">
      	</div>
      </div>

      <div class="col-lg-3 col-sm-4 col-6">
      	<div class="thumbnail">
      	<div class="caption">
      	<h4>Item Name</h4>
      	<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
      	<p><a href="" class="label label-danger" rel="tooltip" title="Zoom">Zoom</a>
        <a href="" class="label label-default" rel="tooltip" title="Download now">Download</a></p>
      	</div>
      	<img src="../img/freshness.jpg">
      	</div>
      </div>
 
      <div class="col-lg-3 col-sm-4 col-6">
      	<div class="thumbnail">
      	<div class="caption">
      	<h4>Item Name</h4>
      	<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
      	<p><a href="" class="label label-danger" rel="tooltip" title="Zoom">Zoom</a>
        <a href="" class="label label-default" rel="tooltip" title="Download now">Download</a></p>
      	</div>
      	<img src="../img/freshness.jpg">
      	</div>
      </div>

      <div class="col-lg-3 col-sm-4 col-6">
      	<div class="thumbnail">
      	<div class="caption">
      	<h4>Item Name</h4>
      	<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
      	<p><a href="" class="label label-danger" rel="tooltip" title="Zoom">Zoom</a>
        <a href="" class="label label-default" rel="tooltip" title="Download now">Download</a></p>
      	</div>
      	<img src="../img/freshness.jpg">
      	</div>
      </div>

      <div class="col-lg-3 col-sm-4 col-6">
      	<div class="thumbnail">
      	<div class="caption">
      	<h4>Item Name</h4>
      	<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
      	<p><a href="" class="label label-danger" rel="tooltip" title="Zoom">Zoom</a>
        <a href="" class="label label-default" rel="tooltip" title="Download now">Download</a></p>
      	</div>
      	<img src="../img/freshness.jpg">
      	</div>
      </div>

      <div class="col-lg-3 col-sm-4 col-6">
      	<div class="thumbnail">
      	<div class="caption">
      	<h4>Item Name</h4>
      	<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
      	<p><a href="" class="label label-danger" rel="tooltip" title="Zoom">Zoom</a>
        <a href="" class="label label-default" rel="tooltip" title="Download now">Download</a></p>
      	</div>
      	<img src="../img/freshness.jpg">
      	</div>
      </div>
    </div>

    <hr>
    <a href="http://bootply.com/71401">Edit on Bootply</a>
    <hr>
  </div>
</div>
</section>

<!-- ///////////end modal-grid /////////// -->

<!-- ///////////Section divider1/////////// -->
<section class="section-divider divider2">
    <div class="container-fluid">
        <h1>Lorem ipsum dolor sit amet</h1>
        <hr>
        <p>Apply a background image in css...Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, atque.</p>
    </div>
</section>
<!-- ///////////End section divider1////////// -->







<script>

$("[rel='tooltip']").tooltip();    
 
    $('.thumbnail').hover(
        function(){
            $(this).find('.caption').slideDown(250); //.fadeIn(250)
        },
        function(){
            $(this).find('.caption').slideUp(250); //.fadeOut(205)
        }
    ); 

</script>