<div>
    <!-- list of items with a button to remove that item -->
    <div class="container">
        <div class="row">
            <div class="col-xs-7 col-md-8 col-sm-8 col-lg-8">
            <div class="panel panel-success">
            <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
            </div>
            <table class="table">
              <th>
                <td>Item</td>
                <td>Quantity</td>
                <td>Price</td>
                <td>Remove</td>
              </th>
              <tr ng-repeat="cart in carts track by $index">
                <td></td>
                <td>{{cart.item}}</td>
                <td>{{cart.quantity}}</td>
                <td>{{cart.amount}}</td>
                <td><button ng-click="remove($index)" class="btn btn-danger btn-sm">X</button></td>
              </tr>
            </table>
        </div>
      </div>
 
        <div class="col-xs-5 col-md-4 col-sm-4 col-lg-4">
          <div class="panel panel-success">
          <div id="divTotal" class="panel-heading">
          <h3 class="panel-title">Total</h3>
          </div>
          <div class="panel-body">
              <div ng-model="total" class="price">
              <h4>{{numItems}} items <br></h4>
        <h3>{{total | currency}}</h3>
          </div>
          </div>
          </div>
 
<div class="text-center">
    <!-- <a href="#/checkout" class="btn btn-success">Checkout</a> -->
    <button ng-click="payOrder()" class="btn btn-success" id="payment"> Place Order <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
    </button>

  </div>
</div>

</div>

</div>
</div>