<div>
    <!-- list of items with a button to remove that item -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-success">
            <div class="panel-heading">
            <h3 class="panel-title">Order Complete</h3>
            </div>
            <div class="panel-body">
              <h2 class="price">You Paid <br><span ng-model="total">{{total | currency}}</span></h2>
          </div>
        </div>

        <div class="col-md-12 text-center">
          <div>
              <h2> Thank You!!!</h2>
              <h4>Your order has been placed</h4>
              <!-- <p>Please allow {{}} days for your order to be ready</p> -->
          </div>
        </div>

      </div>      
    </div>
  </div>
</div>