<section id="delights" class="delights-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>A Homemade Delight</h2>
                <p class="about">Sheena's Pickels are a hand crafted blend of herbs and spices coupled together with natural and organic pickeling ingredients to bring you a flavorful experience sure to sate every palate.
                    <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis explicabo animi itaque adipisci alias maiores necessitatibus repellat corporis perferendis, cupiditate, qui aperiam illum modi ab?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="sliders text-center">
                    <div><img class="slidePics" src="../img/bananapep.jpg"></div>
                    <div><img class="slidePics" src="../img/brandLabel.jpg"></div>
                    <div><img class="slidePics" src="../img/jarinhand.jpg"></div>
                    <div><img class="slidePics" src="../img/party.jpg"></div>
                    <div><img class="slidePics" src="../img/pickles1.jpg"></div>
                    <div><img class="slidePics" src="../img/sheena_mockup_670.jpg"></div>
                    <div><img class="slidePics" src="../img/slice.jpg"></div>
                    <div><img class="slidePics" src="../img/tasty.jpg"></div>
                    <div><img class="slidePics" src="../img/vegSpread.jpg"></div>
                    <div><img class="slidePics" src="../img/wedding.jpg"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about" class="about-section" style="background-image: linear-gradient(to top, rgba(0,0,0, 0.1), rgba(0,0,0, 25)),url(img/party.jpg); height: 500px; width: 100%; background-repeat:no-repeat; background-size: cover;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="inner cover">
                        <div class="col-md-12 meet">
                            <h2>Meet Sheena Moore</h2>
                            <div class="row profile">
                                <div class="col-md-6">
                                    <img class="profileImg" src="img/profilePro.jpg">
                                </div>
                                <div class="col-md-6">
                                    <h4>Sheena is... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam cum, similique eveniet deserunt a excepturi doloremque, atque illum reprehenderit. Repellendus expedita deserunt ratione iure veritatis, odio, commodi a magni repudiandae sed minus aspernatur quas distinctio reiciendis accusamus officiis. Hic placeat temporibus soluta incidunt, repellat enim pariatur quas odio, ullam adipisci.</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="events" class="events-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2>Upcoming Events</h2>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <p class="lead"><a herf="#">Learn more here...</a></p>
            </div>
            <div class="col-md-6">
                <h2>Learn more</h2>
                <!-- links to online articles -->
                <p><img src="#">Pickle School with the Austin Learnshop
                    <a href="#"></a>
                </p>
            </div>
        </div>
    </div>
</section>
<section id="testimony" class="site-wrapper" style="background-image: linear-gradient(to top, rgba(0,0,0, 0.1), rgba(0,0,0, 25)),url(img/productStack.jpg); height: 500px; width: 100%; background-repeat:no-repeat; background-size: cover;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>Testimony from the tasters</h2>
            </div>
            <div class="quote">
                <div class="row">
                    <div class="col-md-4">
                        <blockquote>
                            <img src="#">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <footer>Someone famous in
                                <cite title="Source Title">Source Title</cite>
                            </footer>
                        </blockquote>
                    </div>
                    <div class="col-md-4">
                        <blockquote>
                            <img src="#">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <footer>Someone famous in
                                <cite title="Source Title">Source Title</cite>
                            </footer>
                        </blockquote>
                    </div>
                    <div class="col-md-4">
                        <blockquote>
                            <img src="#">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <footer>Someone famous in
                                <cite title="Source Title">Source Title</cite>
                            </footer>
                        </blockquote>
                    </div>
                    <div class="col-md-4">
                        <blockquote>
                            <img src="#">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <footer>Someone famous in
                                <cite title="Source Title">Source Title</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="col-md-12">
            <h2>Pickles</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 pickle-grid">
                <a class="grid-box" href="#"><img src="../img/hands.jpg"></a>
            </div>
            <div class="col-md-4 col-sm-6 pickle-grid">
                <a class="grid-box" href="#"><img src="../img/hands.jpg"></a>
            </div>
            <div class="col-md-4 col-sm-6 pickle-grid">
                <a class="grid-box" href="#"><img src="../img/hands.jpg"></a>
            </div>
            <div class="col-md-4 col-sm-6 pickle-grid">
                <a class="grid-box" href="#"><img src="../img/hands.jpg"></a>
            </div>
            <div class="col-md-4 col-sm-6 pickle-grid">
                <a class="grid-box" href="#"><img src="../img/hands.jpg"></a>
            </div>
            <div class="col-md-4 col-sm-6 pickle-grid">
                <a class="grid-box" href="#"><img src="../img/hands.jpg"></a>
            </div>
        </div>
    </div>
</section>
<!-- ///////////Section divider1/////////// -->
<section class="section-divider divider1">
    <div class="container-fluid">
        <h1>Lorem ipsum dolor sit amet</h1>
        <hr>
        <p>Apply a background image in css...Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, atque.</p>
    </div>
</section>
<!-- ///////////End section divider1////////// -->
<div class="row">
    <h1 class="text-center">Where In The World?</h1>
    <div id="map-canvas">
        <iframe scrolling="yes" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=austin&amp;sll=37.0625,-95.677068&amp;sspn=42.631141,90.263672&amp;ie=UTF8&amp;hq=&amp;hnear=Texas,+United+States&amp;ll=51.500141,-0.126257&amp;spn=0.026448,0.039396&amp;z=14&amp;output=embed" frameborder="0" height="310" width="100%"></iframe>
    </div>
    <hr>
  </div>

    <div class="container">
        <div class="row">
            <h2>Thanks for Visiting!</h2>
            <h4>CRAFTED IN Austin, TX.</h4>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="control-group">
                    <div class="controls">
                        <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input class="form-control col-md-12" placeholder="Full name" id="inputIcon" type="text" required="required">
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input class="form-control col-md-12" placeholder="Your Email" id="inputIcon" type="email" required="required">
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-phone lyphicon-sm"></i></span>
                            <input class="form-control col-md-12" placeholder="Telephone" id="inputIcon" type="tel">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="btn-toolbar">
                    <div class="btn-group" required="required">
                    </div>
                </div>
                <div class="controls">
                    <textarea id="message" name="message" class="col-md-12" placeholder="Your Message" rows="5" required="required"></textarea>
                </div>
                <p>Send me a message</p>
                    <button class="btn btn-success" type="button">Send</button>
                </p>
            </div>

            <div class="col-sm-4 pull-right">
              <h3>Contact Information</h3>
                <h4><span class="icon icon-home"></span>Some Address 987</h4> 
                <h4>Austin, TX Zip</h4>
                    <br/>
                    <h4><span class="fa fa-phone fa-lg">  (555) 555 5555</span></h4>
                    <br/>
                    <h4><span class="fa fa-envelope fa-lg"> <a href="#"> sheenaspickles@gmail.com</a></span></h4>
                    <br/>
                    <h4><span class="fa fa-instagram fa-lg"><a href="https://www.instagram.com/sheenaspickles/"> #SheenasPickles</a></span></h4>
                    <br/>
                    <h4><span class="fa fa-facebook fa-lg"><a href="https://www.facebook.com/SheenasPickles/"> Sheena's Pickles</a></span></h4>
                    <br/>
                </p>
            </div>
        </div>
    </div>

    <!--/row-->

    
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('.sliders').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 3000,
        });
    });
    </script>
