<div class="container-fluid">
<div class="text-center"><h2>Options</h2></div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-success">
       <div class="panel-heading">Pickled</div>
       <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
        Aliquam in felis sit amet augue.
        <h5>All pickles are homemade, vinegar based and take 4 weeks before they are ready for consumption.</h5>

<div ng-submit="items" class="cartItems panel-body">

<div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="../img/harvestJar.jpg" alt="#">
      <div class="">
        <h4>Texas Heat (spicy)</h4>
        <p>The spiciest pickles for the bravest palate</p>
        <p><a href="#">More</a> about this item.</p>
        <h3 class="price">$5.00</h3>
        <p><select ng-model="heatQuan" id="quantity" name="quantity" class="form-control">
          <option value="1">only 1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
        </select>
     <a ng-click="addToCart('Texas Heat (Spicy)', heatQuan, 5.00)" class="btn btn-success btn-sm" role="button" type="submit" id="heat" >Add To Cart</a></p>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="../img/harvestJar.jpg" alt="#">
      <div class="">
        <h4>The Dilly (Dill)</h4>
        <p>Traditional Dill Pickles</p>
        <p><a href="#">More</a> about this item.</p>
        <h3 class="price">$5.00</h3>
        <p><select ng-model="dillQuan" id="quantity" name="quantity" class="form-control">
          <option value="1">only 1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="3">4</option>
          <option value="3">5</option>
          <option value="3">6</option>
          <option value="3">7</option>
          <option value="3">8</option>
        </select>
     <a ng-click="addToCart('The Dilly (Dill)', dillQuan, 5.00)" class="btn btn-success btn-sm" role="button" type="submit" id="dill">Add To Cart</a></p>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="../img/harvestJar.jpg" alt="#">
      <div class="">
        <h4>The B&B (Bread and Butter)</h4>
        <p>Your favorite Bread 'n Butter delights.</p>
        <p><a href="#">More</a> about this item.</p>
        <h3 class="price">$5.00</h3>
        <p><select ng-model="bbQuan" id="quantity" name="quantity" class="form-control">
          <option value="1">only 1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="3">4</option>
          <option value="3">5</option>
          <option value="3">6</option>
          <option value="3">7</option>
          <option value="3">8</option>
        </select>
     <a ng-click="addToCart('Bread & Butter', bbQuan, 5.00)" class="btn btn-success btn-sm" role="button" type="submit" id="BB">Add To Cart</a></p>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="../img/harvestJar.jpg" alt="#">
      <div class="">
        <h4>Texas Heat (spicy)</h4>
        <p>The spiciest pickles for the bravest palate</p>
        <p><a href="#">More</a> about this item.</p>
        <h3 class="price">$5.00</h3>
        <p><select ng-model="heat2Quan" id="quantity" name="quantity" class="form-control">
          <option value="1">only 1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="3">4</option>
          <option value="3">5</option>
          <option value="3">6</option>
          <option value="3">7</option>
          <option value="3">8</option>
        </select>
     <a ng-click="addToCart('The Heat 2', heat2Quan, 5.00)" class="btn btn-success btn-sm" role="button" type="submit" id="pepper">Add To Cart</a></p>
      </div>
    </div>
  </div>
</div>


</div>  <!-- end all options -->

        </div>
        
      </div>
      </div>
      <!-- /////////////////////////// -->
      
      <div class="col-md-12">
      <div class="panel panel-success">
       <div class="panel-heading">Jammed</div>
       <div class="panel-body">Many of you have been asking about the difference between a jam and a fruit butter. Jams require that you cook the fruit at a higher temp with a lot of sugar. Fruit bitters are cooked slowly (usually in a crockpot for about 10 hours) to bring out the natural sugars of the fruit. Very little sugar is added.

        <h5>Jam and butter flavors are seasonal.</h5> 
        <div class="form-group">
  <div class="col-md-3 control-" for="selectbasic">Jams, Butters & more</div>
  <div class="col-md-9">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="1">Strawberry Jam</option>
      <option value="2">Apple Butter</option>
      <option value="3">Peach Jam</option>
      <option value="3">Bluberry Preserves</option>
      <option value="3">PeppPlum Butter</option>
      <option value="3">Strawberry Aplle Butter</option>
    </select>
  </div>
</div>
</div>
      </div>
      </div>
      <!-- ///////////////////////////////// -->

      <!-- <div class="col-md-6">
      <div class="panel panel-default">
       <div class="panel-heading">Title</div>
       <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
        Aliquam in felis sit amet augue.</div>
      </div>
    </div> -->


    <div class="col-md-12">
      <div class="panel panel-success">
       <div class="panel-heading">Delivery Notice</div>
       <div class="panel-body">
       <p>Since I travel for work (you know the other job that pays the bill), I would prefer if you give me advance notice if you want pickles.</p>


<p>Shipping not available due to Texas Cottage Law. Gift wrap and baskets are available upon request.</p>
<small>For more information please email at:  <a href="#">sheenaspickles@gmail.com</a></small></div>
      </div>
      </div>
      <!-- //////////////////////////////////// -->
      
      <div class="panel panel-success">
       <div class="row clearfix">
    
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6  column col-sm-offset-0 col-md-offset-2 col-lg-offset-3">

<form ng-submit="checkout()" class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Delivery Information</legend>

<!-- Text input-->
<div class="form-group">
  <div class="col-md-3 control-" for="textinput">Name</div>  
  <div class="col-md-9">
    <input id="name" ng-model="name" id="textinput" name="textinput" type="text" placeholder="Enter your name" class="form-control input-md">
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <div class="col-md-3 control-" for="selectbasic">Location Type</div>
  <div class="col-md-9">
    <select id="home" ng-model="home" id="selectbasic" name="selectbasic" class="form-control">
      <option value="1">House</option>
      <option value="2">Apartment</option>
      <option value="3">Business</option>
    </select>
  </div>
</div>

<!-- Multiple Radios (inline) -->
<div class="form-group">
  <div class="col-md-3 control-" for="radios">Options</div>
  <div id="deliver" ng-model="deliver" class="col-md-6"> 
    <div class="radio-inline" for="radios-0">
      <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
      Delivery
    </div> 
    <div class="radio-inline" for="radios-1">
      <input type="radio" name="radios" id="radios-1" value="2">
      Pickup
    </div> 
  </div>
</div>

<div class="form-group">
  <div class="col-md-3 control-" for="textinput">Address</div>  
  <div class="col-md-9">
    <input id="address" ng-model="address" id="textinput" name="textinput" type="text" placeholder="Enter your address" class="form-control input-md">
  </div>
  </div>

  <div class="form-group">
  <div class="col-md-3 control-" for="textinput">City</div>  
  <div class="col-md-9">
    <input id="city" ng-model="city" id="textinput" name="textinput" type="text" placeholder="Enter city" class="form-control input-md">
  </div>
  </div>

  <div class="form-group">
  <div class="col-md-3 control-" for="textinput">Zipcode</div>  
  <div class="col-md-9">
    <input id="zip" ng-model="zip" id="textinput" name="textinput" type="text" placeholder="Enter zipcode" class="form-control input-md">
  </div>
  </div>

  <div class="form-group">
  <div class="col-md-3 control-" for="textinput">Phone Number</div>  
  <div class="col-md-9">
    <input id="phone" ng-model="phone" id="numinput" name="phoneNumber" type="phonenumber" placeholder="555-555-5555" class="form-control input-md">
  </div>
 </div>
  
  <!-- Textarea -->
<div class="form-group">
  <div class="col-md-3 control-" for="textarea">Specific Details</div>
  <div class="col-md-9">                     
    <textarea id="details" ng-model="details" class="form-control" id="textarea" placeholder="added details here" name="textarea"></textarea>
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <div class="col-md-3 control-" for="button1id"></div>
  <div class="col-md-8">
    <a id="button1id" name="button1id" class="btn btn-success">Submit</a>
    <button id="button2id" name="button2id" class="btn btn-default"><a href="#/main">Cancel</a></button>
  </div>
</div>

</fieldset>
</form>
    </div>
    
  </div>
      </div>
    </div>
  </div>
</div>