
<section id="delights" class="delights-section site-wrapper">
      <div class="row col-md-12">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
            <h2>A Homemade Delight</h2>
    <p class="about">Sheena's Pickels are a hand crafted blend of herbs and spices coupled together with natural and organic pickeling ingredients to bring you a flavorful experience sure to sate every palate. 
    <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis explicabo animi itaque adipisci alias maiores necessitatibus repellat corporis perferendis, cupiditate, qui aperiam illum modi ab?</p>
    <div class="sliders">
    	<div><img src="../img/bananapep.jpg"></div>
    	<div><img src="../img/brandLabel.jpg"></div>
    	<div><img src="../img/jarinhand.jpg"></div>
    	<div><img src="../img/party.jpg"></div>
    	<div><img src="../img/pickles1.jpg"></div>
    	<div><img src="../img/sheena_mockup_670.jpg"></div>
    	<div><img src="../img/slice.jpg"></div>
    	<div><img src="../img/tasty.jpg"></div>
    	<div><img src="../img/vegSpread.jpg"></div>
    	<div><img src="../img/wedding.jpg"></div>
    </div>
          </div>
          </div>
          </div>
        </div>
    </section>


    <section id="about" class="about-section site-wrapper">
      <div class="row col-md-12">
      <div class="site-wrapper-inner" style="background-image: linear-gradient(to top, rgba(0,0,0, 0.1), rgba(0,0,0, 25)),url(img/party.jpg); height: 500px; width: 100%; background-repeat:no-repeat; background-size: cover;">
        <div class="cover-container">
          <div class="inner cover">
            <div class="meet">
    <h2>Meet Sheena Moore</h2>
    <img class="profile" src="#">
    <h3>Learn more</h3>
    <!-- links to online articles -->
    <p><img src="#">Pickle School with the Austin Learnshop<a href="#"></a></p>

    </div>
            <p>
              <img src="home.html" class="btn btn-lg btn-default" data-toggle="button" aria-pressed="false" autocomplete="off"><a href="#">Enter</a>
            </p>
          </div>
        </div>
        </div>
      </div>
    </section>


    <section id="events" class="events-section site-wrapper">
      <div class="row col-md-12">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
            <h2>Upcoming Events</h2>
            <p class="lead">
              <img src="home.html" class="btn btn-lg btn-default" data-toggle="button" aria-pressed="false" autocomplete="off"><a href="#">Enter</a>
            </p>
          </div>
        </div>
        </div>
      </div>
    </section>


    <section id="testimony" class="site-wrapper">
      <div class="row col-md-12">
      <div class="site-wrapper-inner" style="background-image: linear-gradient(to top, rgba(0,0,0, 0.1), rgba(0,0,0, 25)),url(img/productStack.jpg); height: 500px; width: 100%; background-repeat:no-repeat; background-size: cover;">
        <div class="cover-container">
          <div class="inner cover">
      <h2>Testimony from the tasters</h2>
      <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
            <p>
              <img src="home.html" class="btn btn-lg btn-default" data-toggle="button" aria-pressed="false" autocomplete="off">Enter</a>
            </p>
          </div>
        </div>
        </div>
      </div>
    </section>
 
 <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="slick/slick.min.js"></script>

 <script type="text/javascript">
  $(document).ready(function(){
      $('.sliders').slick({
    	slidesToShow: 1,
		  slidesToScroll: 1,
		  autoplay: true,
		  autoplaySpeed: 2000,
  });
});
 </script>