<div class="container">
<div class="text-center"><h2>Options</h2></div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
       <div class="panel-heading">Pickled</div>
       <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
        Aliquam in felis sit amet augue.
        <h5>All pickles are homemade, vinegar based and take 4 weeks before they are ready for consumption.</h5>

        <div class="form-group">
  <label class="col-md-3 control-label" for="selectbasic">Homemade Pickles</label>
  <div class="col-md-9">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="1">Texas Heat (spicy)</option>
      <option value="2">The Dilly (Dill)</option>
      <option value="3">The B&B (Bread and Butter)</option>
    </select>
  </div>
</div>

        </div>
        
      </div>
      </div>
      <!-- /////////////////////////// -->
      
      <div class="col-md-6">
      <div class="panel panel-default">
       <div class="panel-heading">Jammed</div>
       <div class="panel-body">Many of you have been asking about the difference between a jam and a fruit butter. Jams require that you cook the fruit at a higher temp with a lot of sugar. Fruit bitters are cooked slowly (usually in a crockpot for about 10 hours) to bring out the natural sugars of the fruit. Very little sugar is added.

        <h5>Jam and butter flavors are seasonal.</h5> 
        <div class="form-group">
  <label class="col-md-3 control-label" for="selectbasic">Jams, Butters & more</label>
  <div class="col-md-9">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="1">Strawberry Jam</option>
      <option value="2">Apple Butter</option>
      <option value="3">Peach Jam</option>
      <option value="3">Bluberry Preserves</option>
      <option value="3">PeppPlum Butter</option>
      <option value="3">Strawberry Aplle Butter</option>
    </select>
  </div>
</div>
</div>
      </div>
      </div>
      <!-- ///////////////////////////////// -->

      <!-- <div class="col-md-6">
      <div class="panel panel-default">
       <div class="panel-heading">Title</div>
       <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
        Aliquam in felis sit amet augue.</div>
      </div>
    </div> -->


    <div class="col-md-12">
      <div class="panel panel-default">
       <div class="panel-heading">Delivery Notice</div>
       <div class="panel-body">
       <p>Since I travel for work (you know the other job that pays the bill), I would prefer if you give me advance notice if you want pickles.</p>


<p>Shipping not available due to Texas Cottage Law. Gift wrap and baskets are available upon request.</p>
<small>For more information please email at:  <a href="#">sheenaspickles@gmail.com</a></small></div>
      </div>
      </div>
      <!-- //////////////////////////////////// -->
      
      <div class="panel panel-default">
       <div class="row clearfix">
    
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6  column col-sm-offset-0 col-md-offset-2 col-lg-offset-3">

<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Personal Information</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-3 control-label" for="textinput">Name</label>  
  <div class="col-md-9">
    <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-3 control-label" for="selectbasic">Select Basic</label>
  <div class="col-md-9">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="1">Option one</option>
      <option value="2">Option two</option>
      <option value="3">Option three</option>
    </select>
  </div>
</div>


<!-- Multiple Radios (inline) -->
<div class="form-group">
  <label class="col-md-3 control-label" for="radios">#</label>
  <div class="col-md-6"> 
    <label class="radio-inline" for="radios-0">
      <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
      Delivery
    </label> 
    <label class="radio-inline" for="radios-1">
      <input type="radio" name="radios" id="radios-1" value="2">
      Pickup
    </label> 
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label" for="textinput">Address</label>  
  <div class="col-md-9">
    <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
  </div>
  </div>

  <div class="form-group">
  <label class="col-md-3 control-label" for="textinput">Phone Number</label>  
  <div class="col-md-9">
    <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
  </div>
 </div>
  
  <!-- Textarea -->
<div class="form-group">
  <label class="col-md-3 control-label" for="textarea">Specific Details</label>
  <div class="col-md-9">                     
    <textarea class="form-control" id="textarea" name="textarea">default text</textarea>
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-3 control-label" for="button1id"></label>
  <div class="col-md-8">
    <button id="button1id" name="button1id" class="btn btn-success">Submit</button>
    <button id="button2id" name="button2id" class="btn btn-danger">Cancel</button>
  </div>
</div>

</fieldset>
</form>
    </div>
    
  </div>
      </div>
    </div>
  </div>
</div>